#booking-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to top right, #338ac7, #7473bf, #514a9d);
    border-radius: 8px;
    margin-top: 1.5em;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea,
button,
#performance-date {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray;
}

button {
    background-color: #e60012;
    /* Circus red */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #c5000e;
}